In [2]:
import pandas as pd
heart = pd.read_csv('heart.csv')

In [9]:
heart.head()
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5209 entries, 0 to 5208
Data columns (total 17 columns):
Status            5209 non-null object
DeathCause        1991 non-null object
AgeCHDdiag        1449 non-null float64
Sex               5209 non-null object
AgeAtStart        5209 non-null int64
Height            5203 non-null float64
Weight            5203 non-null float64
Diastolic         5209 non-null int64
Systolic          5209 non-null int64
MRW               5203 non-null float64
Smoking           5173 non-null float64
AgeAtDeath        1991 non-null float64
Cholesterol       5057 non-null float64
Chol_Status       5057 non-null object
BP_Status         5209 non-null object
Weight_Status     5203 non-null object
Smoking_Status    5173 non-null object
dtypes: float64(7), int64(3), object(7)
memory usage: 691.9+ KB

In [4]:
heart2 = heart[["Status","DeathCause","Sex","AgeAtStart","Diastolic","Systolic"]]
heart2 = heart2[(heart['Systolic'] >= 120) & (heart['Diastolic'] >= 80)]
heart2 = heart2.sort_values(by ='AgeAtStart', ascending=False)
heart2.head()

,Status,DeathCause,Sex,AgeAtStart,Diastolic,Systolic
4731,Dead,Cerebral Vascular Disease,Female,62,120,230
4377,Dead,Other,Female,62,90,140
4702,Dead,Cerebral Vascular Disease,Female,62,89,216
4169,Alive,NaN,Female,62,94,146
4889,Dead,Other,Female,62,92,160