In [1]:
import pandas as pd
heart = pd.read_csv("heart.csv")

import scipy as sp
from scipy import stats

import numpy as np

In [2]:
heart2 = heart
heart.head(2)

,Status,DeathCause,AgeCHDdiag,Sex,AgeAtStart,Height,Weight,Diastolic,Systolic,MRW,Smoking,AgeAtDeath,Cholesterol,Chol_Status,BP_Status,Weight_Status,Smoking_Status
0,Dead,Other,NaN,Female,29,62.50,140.0,78,124,121.0,0.0,55.0,NaN,NaN,Normal,Overweight,Non-smoker
1,Dead,Cancer,NaN,Female,41,59.75,194.0,92,144,183.0,0.0,57.0,181.0,Desirable,High,Overweight,Non-smoker

In [3]:
heart['Weight']=heart['Weight'].replace('NaN',heart['Weight'].mean())
print(stats.ttest_ind(heart['Weight'][heart['Sex'] == "Male"],heart['Weight'][heart['Sex'] == "Female"]))

Ttest_indResult(statistic=nan, pvalue=nan)

C:\Users\cannkn\AppData\Local\Continuum\Anaconda3\envs\PyR_TnL\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\cannkn\AppData\Local\Continuum\Anaconda3\envs\PyR_TnL\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\cannkn\AppData\Local\Continuum\Anaconda3\envs\PyR_TnL\lib\site-packages\scipy\stats\_distn_infrastructure.py:1818: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [4]:
sum(np.isnan(heart.Weight))

6

In [5]:
heart2.Sex = heart.Sex.replace('Female',0)
heart2.Sex = heart2.Sex.replace('Male',1)
heart2.head()

,Status,DeathCause,AgeCHDdiag,Sex,AgeAtStart,Height,Weight,Diastolic,Systolic,MRW,Smoking,AgeAtDeath,Cholesterol,Chol_Status,BP_Status,Weight_Status,Smoking_Status
0,Dead,Other,NaN,0,29,62.50,140.0,78,124,121.0,0.0,55.0,NaN,NaN,Normal,Overweight,Non-smoker
1,Dead,Cancer,NaN,0,41,59.75,194.0,92,144,183.0,0.0,57.0,181.0,Desirable,High,Overweight,Non-smoker
2,Alive,NaN,NaN,0,57,62.25,132.0,90,170,114.0,10.0,NaN,250.0,High,High,Overweight,Moderate (6-15)
3,Alive,NaN,NaN,0,39,65.75,158.0,80,128,123.0,0.0,NaN,242.0,High,Normal,Overweight,Non-smoker
4,Alive,NaN,NaN,1,42,66.00,156.0,76,110,116.0,20.0,NaN,281.0,High,Optimal,Overweight,Heavy (16-25)

In [6]:
stats.f_oneway(heart2.Weight, heart2.Sex)

F_onewayResult(statistic=nan, pvalue=nan)

In [7]:
print(heart2[['Sex','Weight']].corr())
#print(heart2.corr())

            Sex   Weight
Sex     1.00000  0.44858
Weight  0.44858  1.00000